IDD_SETTING_DLG DIALOGEX 0, 0, 498, 758
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "Save",IDC_SETTING_SAVE,"Button",BS_OWNERDRAW | WS_TABSTOP,59,392,50,14
    CONTROL         "Cancel",IDC_SETTING_CANCEL,"Button",BS_OWNERDRAW | WS_TABSTOP,110,392,50,14
    CONTROL         "Init",IDC_SETTING_INIT,"Button",BS_OWNERDRAW | WS_TABSTOP,7,392,50,14
    CONTROL         "",IDC_SETTING_SLD_VIDQUALITY,"Static",SS_OWNERDRAW | SS_NOTIFY | WS_TABSTOP,86,201,106,11
    CONTROL         "SETTIME",IDC_SETTING_BTN_SETTIME,"Button",BS_OWNERDRAW | WS_TABSTOP,232,85,34,14
    CONTROL         "",IDC_SETTING_SLD_GSENSORSENS,"Static",SS_OWNERDRAW | SS_NOTIFY,77,231,115,10
    CONTROL         "FORMAT",IDC_SETTING_BTN_FORMAT,"Button",BS_OWNERDRAW | WS_TABSTOP,25,378,50,14
    COMBOBOX        IDC_SETTING_COMBO_DISP_TIMEZONE,85,71,144,12,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_SETTING_COMBO_DISP_TIME_OFFSET,188,86,41,12,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "한국어",IDC_SETTING_RADIO_LANG_KOR,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,45,49,8
    CONTROL         "English",IDC_SETTING_RADIO_LANG_ENG,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,45,38,10
    CONTROL         "km/h",IDC_SETTING_SPEED_KM,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,58,59,8
    CONTROL         "mile",IDC_SETTING_SPEED_MILE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,58,52,8
    CONTROL         "knot",IDC_SETTING_SPEED_KNOT,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,208,58,52,8
    LTEXT           "화면 설정",IDC_SETTING_STATIC_DISPLAY,19,32,66,8
    LTEXT           "1. 언어",IDC_SETTING_STATIC_DISPLAY_LANG,16,45,65,8
    LTEXT           "2. GPS 속도 표시",IDC_SETTING_STATIC_DISPLAY_SPEED,16,58,67,8
    LTEXT           "3. 타임존",IDC_SETTING_STATIC_DISPLAY_TIMEZONE,16,73,64,8
    LTEXT           "4. 시간 설정",IDC_SETTING_STATIC_DISPLAY_TIMESET,16,89,64,8
    LTEXT           "2012/02/17 - 09:00:00",IDC_SETTING_STATIC_DISPLAY_TIMESET_VALUE,85,89,95,10
    LTEXT           "레코드 설정",IDC_SETTING_STATIC_RECORD,19,108,62,8
    LTEXT           "1. 녹화 모드",IDC_SETTING_STATIC_RECORD_MODE,16,123,63,8
    LTEXT           "2. 카메라 선택",IDC_SETTING_STATIC_RECORD_CHANNEL,16,136,63,8
    LTEXT           "3. 오디오 저장",IDC_SETTING_STATIC_RECORD_AUDIO,16,161,63,8
    LTEXT           "4. 비디오  압축",IDC_SETTING_STATIC_RECORD_CODEC,16,174,63,8
    LTEXT           "5. 녹화 해상도",IDC_SETTING_STATIC_RECORD_RESOLUTION,16,187,63,8
    LTEXT           "6. 비디오 화질",IDC_SETTING_STATIC_RECORD_QUALITY,16,200,63,8
    CONTROL         "상시",IDC_SETTING_RECORD_MODE_CONTINUOUS,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,123,59,8
    CONTROL         "이벤트",IDC_SETTING_RECORD_MODE_EVENT,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,123,59,8
    CONTROL         "1CH (전방)",IDC_SETTING_RECORD_CAMERA_1CH_FRONT,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,136,59,8
    CONTROL         "2CH",IDC_SETTING_RECORD_CAMERA_2CH,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,136,59,8
    CONTROL         "1CH (후방)",IDC_SETTING_RECORD_CAMERA_1CH_REAR,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,208,136,59,8
    CONTROL         "끄기",IDC_SETTING_RECORD_AUDIO_OFF,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,161,59,8
    CONTROL         "사용",IDC_SETTING_RECORD_AUDIO_ON,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,161,59,8
    CONTROL         "MPEG",IDC_SETTING_RECORD_CODEC_MPEG4,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,174,59,8
    CONTROL         "H.264",IDC_SETTING_RECORD_CODEC_H264,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,174,59,8
    CONTROL         "HD(1280x720)",IDC_SETTING_RECORD_RES_HD,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,187,59,8
    CONTROL         "D1(720x400)",IDC_SETTING_RECORD_RES_D1,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,187,59,8
    LTEXT           "장치 설정",IDC_SETTING_STATIC_DEVICE,19,218,63,8
    LTEXT           "1. 사고 감지 감도",IDC_SETTING_STATIC_DEVICE_GSENSOR_SENSITIVE,16,232,63,8
    LTEXT           "단위:g            0.2 민감",IDC_SETTING_STATIC_DEVICE_GSENSOR_UNIT,50,242,29,8
    LTEXT           "0.2 민감",IDC_SETTING_STATIC_DEVICE_GSENSOR_LOW,93,242,44,8
    LTEXT           "0.5 보통",IDC_SETTING_STATIC_DEVICE_GSENSOR_NORMAL,142,242,46,8
    LTEXT           "0.8 둔감",IDC_SETTING_STATIC_DEVICE_GSENSOR_HIGH,191,242,46,8
    LTEXT           "2. 모션 감지 모드",IDC_SETTING_STATIC_DEVICE_MOTION_MODE,16,258,63,8
    LTEXT           "3. 모션 감지 감도",IDC_SETTING_STATIC_DEVICE_MOTION_SENSITIVE,16,271,63,8
    LTEXT           "4. USB 메모리",IDC_SETTING_STATIC_DEVICE_USB_MODE,16,283,63,8
    CONTROL         "끄기",IDC_SETTING_DEVICE_MOTION_MODE_OFF,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,259,59,8
    CONTROL         "사용",IDC_SETTING_DEVICE_MOTION_MODE_ON,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,259,59,8
    CONTROL         "민감",IDC_SETTING_DEVICE_MOTION_SENSITIVE_LOW,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,271,59,8
    CONTROL         "보통",IDC_SETTING_DEVICE_MOTION_SENSITIVE_NORMAL,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,271,59,8
    CONTROL         "둔감",IDC_SETTING_DEVICE_MOTION_SENSITIVE_HIGH,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,208,271,59,8
    CONTROL         "모드 1",IDC_SETTING_DEVICE_USB_MODE1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,283,59,8
    CONTROL         "모드 2",IDC_SETTING_DEVICE_USB_MODE2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,283,59,8
    CONTROL         "모드 3",IDC_SETTING_DEVICE_USB_MODE3,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,208,283,59,8
    CONTROL         "",IDC_SETTING_SLD_LOW_VOLTAGE,"Static",SS_OWNERDRAW | SS_NOTIFY,79,330,121,11
    CONTROL         "Close",IDC_SETTING_CLOSE,"Button",BS_OWNERDRAW | WS_TABSTOP,219,7,50,14
    LTEXT           "시스템 설정",IDC_SETTING_STATIC_SYSTEM,19,304,63,8
    LTEXT           "1. 부져",IDC_SETTING_STATIC_SYSTEM_BUZZER,16,318,63,8
    LTEXT           "2. 저전압 감지",IDC_SETTING_STATIC_SYSTEM_LOWVOLTAGE,16,331,63,8
    LTEXT           "3. 주차 모드",IDC_SETTING_STATIC_SYSTEM_PARKING,16,356,63,8
    LTEXT           "4. 주차 USB 메모리",IDC_SETTING_STATIC_SYSTEM_PARKINGUSB,16,368,63,8
    CONTROL         "시스템",IDC_SETTING_CHECK_BUZZER_SYSTEM,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,87,318,59,10
    CONTROL         "버튼음",IDC_SETTING_CHECK_BUZZER_BUTTON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,147,318,59,10
    CONTROL         "이벤트 알림",IDC_SETTING_CHECK_BUZZER_EVENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,208,318,59,10
    CONTROL         "끄기",IDC_SETTING_DEVICE_PARKING_OFF,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,356,59,8
    CONTROL         "사용",IDC_SETTING_DEVICE_PARKING_ON,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,356,59,8
    CONTROL         "끄기",IDC_SETTING_DEVICE_PARKINGUSB_OFF,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,87,369,59,8
    CONTROL         "사용",IDC_SETTING_DEVICE_PARKINGUSB_ON,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,147,368,59,8
    CONTROL         "자동",IDC_SETTING_DEVICE_PARKINGUSB_AUTO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,208,368,59,8
    LTEXT           "5.5 Mbps",IDC_SETTING_STATIC_RECORD_QUALITY_VALUE,211,200,51,8
    LTEXT           "0.4 g",IDC_SETTING_STATIC_DEVICE_GSENSOR_SENSITIVE_VALUE,211,232,44,8
    LTEXT           "12.2 V",IDC_SETTING_STATIC_SYSTEM_LOWVOLTAGE_VALUE,209,331,50,8
    CONTROL         "",IDC_SETTING_TEXT_TITLE,"Static",SS_OWNERDRAW,6,6,170,19
    CONTROL         "파킹 종료시 2CH 자동 전환",IDC_SETTING_RECORD_CAMERA_PARKING_END_MODE,
                    "Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,87,146,165,10
    LTEXT           "감지 모드",IDC_SETTING_STATIC_SYSTEM_LOWVOLTAGE_MODE,42,343,40,8
    COMBOBOX        IDC_SETTING_COMBO_SYSTEM_LOWVOLTAGE_MODE,85,342,142,12,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
END

